<div class="announcement">
    <img src="/Assets/bullhorn-solid.svg" alt="">
    <div class="announcementInner">
        <p>
            Don't agree with your Class Stats?
        </p>
        <p>
            Hover over each category and submit your own rating!
        </p>
    </div>
</div>