<% include ./partials/header %>
<title>ClassStats: Ratings</title>
</head>

<body>
    <% include ./partials/navbar %>
    <% include ./partials/announcement %>
    <div class="container">
        <div class="row mb-4">
            <div class="col-12">
                <h1 class="courseHeaders mb-3"><%= classInfo[0].Name %></h1>
                <h4>Professer <%= classInfo[0].Lname %></h4>
            </div>
        </div>
        <div class="row mb-3">   
            <div class="col-12">
                <h4>STATS</h4>
            </div>
        </div>
    </div>

    <div class="container" id="ratings_container"></div>


<!-- Note: when deploying, replace "development.js" with "production.min.js". -->
<script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>

<!-- Load our React component. -->
<script type="module" src="/Ratings.js"></script>
</body>

</html>