<% include ./partials/header %>
<title>ClassStats: Ratings</title>
</head>

<body>
    <% include ./partials/navbar %>
    <% include ./partials/announcement %>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="courseHeaders mb-3"><%= classInfo[0].Name %></h1>
                <h4>Professer <%= classInfo[0].Lname %></h4>
            </div>
        </div>
    </div>


</body>

</html>