<% include ./partials/header %>
<title>ClassStats: Professors</title>
</head>

<body>
    <% include ./partials/navbar %>
    <% include ./partials/announcement %>
    <h1 class="pageHeaders">Professors</h1>

    <% print.forEach(function(professors) { %>
        <div class="pageLinks">
            <a class="" href="/findcourse/<%= %>"><%= professors.Lname %></a>
        </div>
    <% }) %>
</body>

</html>