<% include ./partials/header %>
<title>ClassStats</title>
</head>

<body>
    <% include ./partials/navbar %>
    <div class="container">
        <div class="row justify-content-center mt-5 mb-4">
            <div class="col-12 loginLogo">
                <img src="/Assets/logo_regular.svg" alt="">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6 loginBlurb">
                <p>
                    ClassStats is a course review website created for students, by students. Made to assist during the
                    course registration process through the evaluation of several key statistics.
                </p>
            </div>
        </div>
        <div class="row justify-content-center mb-5">
            <div class="col-4">
                <form>
                    <h4 class="loginTitles">Login</h4>
                    <div class="form-group">
                        <!-- <label for="exampleInputEmail1">Email address</label> -->
                        <input type="email" class="formInputs" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="email">
                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small> -->
                    </div>
                    <div class="form-group">
                        <!-- <label for="exampleInputPassword1">Password</label> -->
                        <input type="password" class="formInputs" id="exampleInputPassword1" placeholder="password">
                    </div>
                    <!-- <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div> -->
                    <button type="submit" class="btn formSubmit">LOGIN</button>
                </form>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-4">
                <form>
                    <h4 class="loginTitles">Sign Up Now!</h4>
                    <div class="form-group">
                        <input type="email" class="formInputName fname" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="first name">
                        <input type="email" class="formInputName lname" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="last name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="formInputs" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="school email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="formInputs" id="exampleInputPassword1" placeholder="password">
                    </div>
                    <button type="submit" class="btn formSubmit">SIGN UP</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>