.courseHeaders {
    font-weight: 800;
    /* margin-left: 15%; */
    margin-top: 30px;
    font-size: 30px;
}

.ratingsName {
    margin-right: 10px;
}

.star {
    padding: 1px;
}

.starHover:active {
    transform: scale(0.95);
}

.starHover {
    fill: gold;
    cursor: pointer;
}

.ratings {
    margin-bottom: 30px;
    font-size: 20px;
}

.percentageButtons {
    position: relative;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    width: 200px;
    margin-bottom: 10px;
    display: inline-block;
    border: 1px solid #707070;
    font-weight: 300;
    transition: color 0.5s ease;
}

.percentageButtons:hover {
    color: white;
}
.percentageButtons:focus {
    outline:0;
}


.percentageButtons::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #0093FF;
    transform-origin: left;
    transition: width 0.5s ease;
    z-index: -1;
}

.percentageButtons:hover::after {
    width: 100%;
}

.percentageButtons:active{
    transform: scale(0.95);
}

.percentageName {
    float: left;
}

.percentage {
    float: right;
}

.submitted{
    font-size: 16px;
    font-style: italic;
    float: right;
    margin-top: 5px;
    margin-bottom: 0;
}