.courseHeaders {
    font-weight: 800;
    /* margin-left: 15%; */
    margin-top: 30px;
    font-size: 30px;
}

.ratingsName{
    margin-right: 10px;
}

.star{
    padding: 1px;
}

.starHover:active{
    transform: scale(0.95);
}

.starHover{
    fill: gold;
    cursor: pointer;
}

.ratings{
    margin-bottom: 30px;
    font-size: 20px;
}


.test{
    margin-left: 50px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 200px;
    background: linear-gradient(to right, #27FF9B 12%, white 0%);
    border: 1px solid #707070;
}

.percentageName{
    float: left;
}

.percentage{
    float: right;
}