@media only screen and (max-width: 900px) {
    .star{
        width: 22px;
    }
}
@media only screen and (max-width: 1200px) {
    .star{
        width: 24px;
    }
}

.courseHeaders {
    font-weight: 800;
    /* margin-left: 15%; */
    margin-top: 30px;
    font-size: 30px;
}

.ratingsName {
    margin-right: 10px;
    font-size: 16px;
}

.starHover:active {
    transform: scale(0.95);
}

.starHover {
    fill: gold;
    cursor: pointer;
}

.ratings {
    margin-bottom: 30px;
    font-size: 16px;
}

.percentageButtons {
    position: relative;
    padding: 1px;
    padding-left: 10px;
    padding-right: 10px;
    width: 165px;
    margin-bottom: 10px;
    display: inline-block;
    border: 1px solid #707070;
    font-weight: 300;
    transition: color 0.5s ease;
}

.percentageButtons:hover {
    color: white;
}
.percentageButtons:focus {
    outline:0;
}


.percentageButtons::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #0093FF;
    transform-origin: left;
    transition: width 0.5s ease;
    z-index: -1;
}

.percentageButtons:hover::after {
    width: 100%;
}

.percentageButtons:active{
    transform: scale(0.95);
}

.percentageName {
    float: left;
}

.percentage {
    float: right;
}

.submitted{
    font-size: 16px;
    font-style: italic;
    float: right;
    margin-top: 5px;
    margin-bottom: 0;
}

.popup{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#myModal{
    display: block;
}

.popupHeader{
    font-weight: 800;
    font-size: 24px;
    color: #008DD5;
}

.popupSubheader{
    font-size: 20px;
}

.popupClassInfo{
    font-weight: 800;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }