#homeHeader{
    text-transform: uppercase;
    font-weight: 800;
}

.homeCourseName{
    font-size: 20px;
    font-weight: 600;
}

.homeSubHeadings{
    font-size: 16px;
}

.homeCourses{
    width: 80%;
    border-bottom: 1px solid #707070;
}